.laps-container,
.total-time-container,
.add-panel-container,
.control-panel {
  margin: 16px 0;
  text-align: center;
}

body {
  zoom: 1.1;
}

.total-time {
  font-size: 60px;
}

.laps-container table {
  margin: auto;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.laps-container table thead {
  font-variant: all-petite-caps;
  font-size: larger;
}

.laps-container button {
  margin: 4px 0 4px 8px;
}

button.reset {
  margin-top: 8px;
}

.control-panel input.note {
  height: 18px;
  padding: 8px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.center {
  text-align: center;
}

button {
  border: 1px solid lightgrey;
  padding: 8px;
  width: 36px;
  aspect-ratio: 1;
}

span.note {
  word-break: break-all;
}

.laps-container {
  max-width: 800px;
  margin: auto;
}

.laps-container table th,
.laps-container table td {
  padding: 4px;
}

thead th:nth-child(4) {
  width: 218px;
}

thead th:nth-child(5) {
  visibility: hidden;
  width: 200px;
}

.drag-point {
  cursor: grab;
}

tbody tr {
  opacity: 1;
  background-color: var(--aubergine-dark);
}

.dragging {
  opacity: 0.4;
}

.over-to-drop {
  background-color: var(--aubergine-mid);
}

dialog.popup {
  transition: 0.4s;
  color: white;
  border: 2px solid var(--gray-warm);
  border-radius: 4px;
  background-color: var(--aubergine-mid);
  animation: fade-in 0.3s ease 1 forwards;
  padding: 4px 16px 16px 16px;
  z-index: 1;
}

dialog::backdrop {
  background-color: var(--aubergine-dark, #2C001E);
  opacity: 0.5;
}

.aside-note {
  font-variant: all-petite-caps;
  font-size: larger;
}

.aside-note textarea {
  color: white;
  background-color: var(--aubergine-dark);
}

.edit-present-lap-time .input-invalid {
  border: 1px solid red !important;
}

select {
  background-color: var(--aubergine-mid);
  border-radius: 4px;
  color: white;
  border: 1px solid white;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}