:root {
  --gray-warm: #AEA79F;
  --gray-cool: #333333;
  --gray-text: #111111;

  --aubergine-light: #77216F;
  --aubergine: #772953;
  --aubergine-mid: #5E2750;
  --aubergine-dark: #2C001E;

  --link-active: #6565C4;
  --link-visited: #3E4A8C;

  --orange: #E95420;

  --green: #99cc33;
}